<nav style="text-align: center;">
    <h1>Results Found</h1>
</nav>
{% for item in lucene_output %}
<div style="border: solid #e6ecf0; padding-left: 10px;">
    
<h2> Title: {{item['title']}}</h2>
<a href="{{item['url']}}" >{{item['url']}}</a>
{% if item['body'] != '' %}
<h4> Body: {{item['body']}}</h4>
{% endif %}
<h4> Score: {{item['score']}}</h4>
<h2> Upvotes: {{item['upvotes']}}</h2>
<h2> Date Of Post: {{item['createdutc']}}</h2>
</div>
{% endfor %}

<form action="/input" method = "POST">
    <p><input type = "submit" value = "Search Again" /></p>
</form>